<main class="mt-5">
    <div class="container">
        <div class="card mx-auto">
            <div class="card-header">
                <img class="img-fluid card-img-top rounded mx-auto m-2" src="../public/img/owl-icon-flat-01--1564239954.jpg" alt="logo">
                <h3 class="text-center p-4">Crud Node API with MySQL</h3>
            </div>
            <div class="card-body text-center">
                <p>Consectetur laborum et sit amet quis anim irure aliqua reprehenderit.</p>
                <a href="#" class="btn btn-primary">Create</a>
            </div>
        </div>
    </div>
</main>